@page "/pizzas-toppings"
@using BlazorAppButton.Data

<h1>Our Latest Pizzas an Topping</h1>

<Pizza PizzaName="Hawaiian" PizzaDescription="The one with pineapple" />

<PizzaTopping Topping="@(new PizzaTopping() { Name = "Chilli Sauce", Ingredients = "Three kinds of chilli."})" />
